$error_txt: #B94A48
$error_back: #F2DEDE
$error_border: #EED3D7
$white: #FFFFFF
body
    >.container
        position: relative
a
    cursor: pointer
i
    &.fader
        background: url('../img/fader.png') repeat-y scroll 0 0 transparent
        height: 100%
        width: 30px
        float: right
        position: absolute
        right: 0
        top: 0
.clear
    clear: left
.container 
    .main-content
        min-height: 200px
.navbar
    position: relative
    z-index: 1
form
    label
        font-weight: bold
        padding: 0 0 0 10px
        &.required
            background: url('../img/req.gif') no-repeat scroll 0 0 transparent
    .errors
        background: $error_back
        border: 1px solid $error_border
        list-style: none outside none
        border-radius: 4px 4px 4px 4px
        margin-bottom: 9px
        padding: 2px
        overflow: hidden
        margin-left: 0
        li
            list-style: none outside none
            text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5)
            color: $error_txt
form.login
    width: 309px
    padding-right: 14px
    padding-bottom: 0
    .login-form
        padding: 6px 6px 0 0
        overflow: hidden
        margin: 0
        li
            list-style: none outside none
            float: left
            &.element-label
                width: 82px
                clear: left
            &.alert
                width: 251px
                margin: 0
            &.form-actions
                width: 187px
                margin-bottom: 0
                &.submit
                    width: 54px
                    padding-right: 0
                &.no-ajax
                    width: 281px
            label
                padding-top: 4px
#auth-form
    display: none
    position: absolute
    right: 0
    top: 30px
    z-index: 0
    .loading
        background: url("../img/loader.gif") no-repeat scroll 50% 50% white
        border-radius: 4px 4px 4px 4px
        box-shadow: 0 0 6px #000000
        display: none
        height: 88px
        left: 8px
        opacity: 0.7
        position: absolute
        top: 13px
        width: 328px
.menu-options
    float: left
    width: 500px
    ul
        float: left
        li
            list-style: none outside none
            textarea
                width: 435px
    .form-actions
        width: 460px
        padding-bottom: 0
        float: left
        margin-bottom: 0
        i
            margin-right: 5px
.nav
    &.manage
        margin-top: 2px
        .manage
            margin-bottom: 0
        li
            margin-bottom: 2px
            clear: left
            width: 350px
            
            .menu-item
                margin: 0 !important
            .menu-item-options
                border: 1px solid #0088CC
                padding: 10px
                overflow: hidden
                display: none
                .actions
                    overflow: hidden
                    li
                        float: left
                        width: auto
            &.active
                >.menu-item
                    border-radius: 4px 4px 0 0
#menu-item-new
    display: none
    margin: 0
    clear: left