body > .container {
  position: relative; }

.clear {
  clear: left; }

.container .main-content {
  min-height: 200px; }

.navbar {
  position: relative;
  z-index: 1; }

form label {
  font-weight: bold;
  padding: 0 0 0 10px; }
  form label.required {
    background: url("../img/req.gif") no-repeat scroll 0 0 transparent; }
form .errors {
  background: #f2dede;
  border: 1px solid #eed3d7;
  list-style: none outside none;
  border-radius: 4px 4px 4px 4px;
  margin-bottom: 9px;
  padding: 2px;
  overflow: hidden;
  margin-left: 0; }
  form .errors li {
    list-style: none outside none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #b94a48; }

form.login {
  width: 309px;
  padding-right: 14px;
  padding-bottom: 0; }
  form.login .login-form {
    padding: 6px 6px 0 0;
    overflow: hidden;
    margin: 0; }
    form.login .login-form li {
      list-style: none outside none;
      float: left; }
      form.login .login-form li.element-label {
        width: 82px;
        clear: left; }
      form.login .login-form li.alert {
        width: 251px;
        margin: 0; }
      form.login .login-form li.form-actions {
        width: 187px;
        margin-bottom: 0; }
        form.login .login-form li.form-actions.submit {
          width: 54px;
          padding-right: 0; }
        form.login .login-form li.form-actions.no-ajax {
          width: 281px; }
      form.login .login-form li label {
        padding-top: 4px; }

#auth-form {
  display: none;
  position: absolute;
  right: 0;
  top: 30px;
  z-index: 0; }
  #auth-form .loading {
    background: url("../img/loader.gif") no-repeat scroll 50% 50% white;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 6px black;
    display: none;
    height: 88px;
    left: 8px;
    opacity: 0.7;
    position: absolute;
    top: 13px;
    width: 328px; }
